numpy>=1.24.1
pytest>=7.2.0
pytest-cov>=4.0.0
coverage>=7.2.5, <8.0.0
python-dotenv>=1.0.0
tc_messageBroker>=1.6.3
pymongo>=4.3.3, <5.0.0
neo4j>=5.8.0, <6.0.0
llama-index-core==0.10.68.post1
llama-index-embeddings-openai
llama-index-llms-openai
llama-index-legacy
sqlalchemy[asyncio]
cohere>=4.39, <5.0.0
pgvector
asyncpg
psycopg2-binary
llama-index-vector-stores-qdrant==0.2.8
qdrant-client==1.12.1
llama-index-storage-docstore-redis
llama-index-storage-docstore-mongodb
spacy
